body{
    background-image: url('background.webp');
}
form{
    border: 5px solid #262121;
    max-width: 650px;
    margin: 2rem auto;
    padding: .5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.banner{
    display: grid;
    grid-template-areas: 
    "logo head";
    grid-template-columns: 200px auto;
}
.head{
    grid-area: head;
    margin-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40;
}
.bottom{
    display: grid;
    grid-template-areas: 
    "pic info";
    grid-template-columns: 20% auto;
}
.info{
    margin-top: 80px;
    grid-area: info;
}
.logo{
    grid-area: pic;
    align-items: center;
    height: fit-content;
    width: fit-content;
    position: relative;
}
.img{
    grid-area: logo;
    size: 80%;
    align-self: left;
}
iframe{
    align-self: center;
    max-height: fit-content;
    width: 100%;
    border-radius: 10px;
    margin-top: 2%;
}
a{
    font-size: 20;
}
li{
    list-style: none;
}
.wrapper{
    display: grid; 
    size-adjust: fit-content;
    grid-template-rows: 20% 60% 20%;
    gap: 10px;
    grid-auto-columns: 1, 1fr;
}
.Q{
    margin-left: .25rem;
}
@keyframes cardEntrance{
    from{
        opacity:0;
        transform:scale(0.3);
    }
    to{
       opacity: 1;
       transform:scale(1);
       filter: hue-rotate(0deg);
    }
}
.pay-info{
    margin-top: 2%;
    font-size: 18;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.one{
    grid-row: 1/3;
    border-radius: 25px;
    padding: 20px;
    background-color:rgba(42, 145, 242, 0.842);
}
.two{
    grid-row: 2/3;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    border-radius: 25px;
    padding: 20px;
    margin: 2%;
    size-adjust: fit-content;
    align-items: center;
    background-color:rgb(138, 147, 139);
    text-align: center;
    font-size: 18;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.three{
    grid-row: 3/3;
    padding: 12px;
    

}
